<div class="indicators hide-for-medium-down">
  
  <div id="HTMLBlock1843" class="HTMLBlock">
    <div class="indicator overview">
      <div class="title">Overview</div>
      <a href="#home" class="bulletContainer">
	<div class="bullet"></div>
      </a>
    </div>
    
    
    <div class="indicator products">
      <div class="title">Products</div>
      <a href="#products" class="bulletContainer">
	<div class="bullet"></div>
      </a>
    </div>
    
    
    <div class="indicator services">
      <div class="title">Solutions</div>
      <a href="#solutions" class="bulletContainer">
	<div class="bullet"></div>
      </a>
    </div>
    
    <div class="indicator solutions">
      <div class="title">Contact</div>
      <a href="#contact" class="bulletContainer">
	<div class="bullet"></div>
      </a>
    </div>
  </div>
</div>
<section id="home" class="content">
  <div class="row">
    <div class="small-12 columns">
      
      <section class="content main">
	<div class="row">
	  <div class="small-12 medium-10 medium-offset-1 columns">
	    <h1 id="animateHeadline" style="text-align: center;">Our Transport Management Solutions</h1>     
	  </div>
	</div>
      </section>
      <div id="automotiveSlider" class=" ccm-block-styles" >
	
	<ul class="orbit-content" data-orbit>
	  <li data-orbit-slide="headline-1">
	    <div>
	      <p><img src="images/connected-vehicle-teaser.jpg" alt="connected-vehicle-teaser.jpg" width="1280" height="537" /></p>      
	    </div>
	  </li>
	  
	</ul>
      </div>
      <section class="content main">
	<div class="row">
	  <div class="small-12 medium-10 medium-offset-1 columns">
	    <div class="small-12 medium-9 medium-offset-1">
	      <h4 class="font-grey-light" style="text-align: center;">Embracing innovative technology for development of next generation socio economic solutions, services and built up infrastructure for Africa.</h4>
	    </div>      
	  </div>
	</div>
      </section>
      <div id="blockStyle1765SectionHomeContent80" class=" ccm-block-styles" >
	<p><a href="#products"><img style="display: block; margin-left: auto; margin-right: auto;" src="images/arrow-1.svg" alt="arrow.svg" width="40" height="40" />
	  </a>
	</p>
      </div>   
    </div>
  </div>
</section>

<section id="products" class="content">
  <div class="row">
    <div class="small-12 columns">
      <div id="blockStyle1786SectionProductsContent97" class="ccm-block-styles" >
	
	<section class="content main">
	  <div class="row">
	    <div class="small-12 medium-10 medium-offset-1 columns">
	      <h2 style="text-align: center;">Our Products Value Chain –<br /> Get Premium Service</h2>      
	    </div>
	  </div>
	</section>
      </div>
      <p><img src="images/connected-vehicle-headunit.png" alt="connected-vehicle-headunit.png" width="1280" height="594" /></p>
      <section class="content main">
	<div class="row">
	  <div class="small-12 medium-10 medium-offset-1 columns">
	    <div class="small-12 medium-9 medium-offset-1">
	      <h4 class="font-grey-light" style="text-align: center;">NSeye Corp is positioned as a full service provider for custom business solutions, from prototyping to deployment of product and service solutions.</h4>
	    </div>      
	  </div>
	</div>
      </section>
     
<section id="solutions" class="content background-change">
  <div class="row">
    <div class="small-12 columns">
      <div id="blockStyle1791SectionServicesNarrowerContent99" class=" ccm-block-styles" >
	<h2 style="text-align: center;">Explore the fascinating possibilities of <br class="show-for-medium-up" />the interanet, internet and mobile technologies in your business</h2></div>	<div id="service1" class="display right-text ccm-block-styles" >
	<h3 class="font-blue-dark">Module Integration</h3>
	<p>NSeye Solutions flexibly adjusts its back-end technology to your existing infrastructure. The modular, OSGi-based expandability of mCAP Automotive allows us to provide you with a version tailored to your specific needs. For example, integrating the advertising und couponing platform QPAD into your system allows for a distribution of advertisement and coupons that's adapted to the environment and accordingly accurate.</p>
	<p>The mCAP Automotive tool applies flexible connectors that create links to your systems’ existing data sources (data banks, CRM or SAP systems) to utilize and accordingly enhance the existing user and vehicle data.</p></div>	<div id="service2" class="display left-text ccm-block-styles" >
	<h3 class="font-blue-dark">Service Provision</h3>
	<p>NSeye Solutions provides your end devices with a great variety of end-to-end services from all possible sources. Automotive telematics services or infotainment content from the cloud, your partners, or your own sources are processed, consolidated and optimized for their use on mobile end devices.</p>
	<p>The range of offers extends from individual customer support during the creation of services with in-house tools such as mCAP Automotive, HTML5 Builder, remote resource management systems, or automated web service connectors, up to the independent creation and maintenance of services.</p></div>	<div id="service3" class="display right-text ccm-block-styles" >
	<h3 class="font-blue-dark">Proxy Services</h3>
	<p>NSeye Automotive offers proxy technologies that are customized for providing content to mobile end devices of vehicles. The automotive web proxy adjusts Internet content to the browser of the head unit installed in the vehicle and optimizes the delivered content for minimum bandwidth usage. This improves the quality of images and scripts, filters out undesired advertising, or replaces proprietary Internet technologies such as Flash with HTML5 video, for example.</p>
	<p>In this way, content can be filtered or enhanced where needed. NSeye thus allows you to alter assembled content even after delivery without having to modify the vehicle interfaces.</p></div>	<div id="service4" class="display left-text ccm-block-styles" >
	<h3 class="font-blue-dark">Application Development</h3>
	<p>Based on many years of experience in the development of mobile applications, NSeye Automotive can offer its customers sophisticated applications specifically conceived for use in vehicles. HTML5 and JavaScript applications, as well as the in-house framework M-Project Automotive, turn web radio, messaging, and calendar, weather and news entries into unique experiences.</p>
	<p>Web-based or native app developments, such as navigation systems or platform- independent “Browser in the Cloud” clients, link intelligent vehicle applications with the outside world. The applications' flexible back-end connection allows NSeye Automotive to offer a host of useful services in vehicles and to make them accessible to end users. These sophisticated concepts and services make driving an adventure for your customers.</p></div>	<div id="service5" class="display right-text ccm-block-styles" >
	<h3 class="font-blue-dark">Head Unit Integration</h3>
	<p>NSeye Automotive integrates native or MPA applications into the existing device software stack. For optimized runtime behavior, NSeye Automotive supports you in the implementation of a browser environment that is adjusted to your needs, including the connection of this environment to the services provided by the head unit via a native bridge. Through the application of platform-independent technologies such as HTML5, JavaScript or Qt, all implementations remain open for quick porting to new platforms.</p>
	<p>In addition, NSeye Automotive supports you in the creation and integration of services for the head unit, e.g. to give you access to services in the vehicle via the mCAP automotive server software.</p>
</div>	
      <div id="blockStyle1845SectionServicesNarrowerContent79" class=" ccm-block-styles" >
	
	<section class="content main">
	  <div class="row">
	    <div class="small-12 medium-10 medium-offset-1 columns">
	      <p><a href="#contact"><img style="display: block; margin-left: auto; margin-right: auto;" src="images/arrow-1.svg" alt="arrow.svg" width="40" height="40" /></a></p>  
	    </div>
	  </div>
  </section>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="small-12 columns">
      <div id="blockStyle1783SectionServicesContent95" class="parallax ccm-block-styles" >
      </div> 
    </div>
  </div>
</section>

<section id="contact" class="content">
  <div class="row">
    <div class="small-12 medium-10 medium-offset-1 columns">
      <div id="blockStyle1792SectionSolutionsContent100" class=" ccm-block-styles" >
	
	<section class="content main">
	  <div class="row">
	    <div class="small-12 medium-10 medium-offset-1 columns">
	      <h2 style="text-align: center;">Get inspired by our connected services. <br /> What can we do for you?</h2>
	    </div>
	  </div>
	</section>
      </div>	
