<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>NSeye Corp</title>
    <meta name="description" content=""/>
    <meta name="generator" content="concrete5 - 5.6.3.1" />
    
  
   <style type="text/css"> 
      #blockStyle1765SectionHomeContent80 {background-repeat:no-repeat; padding:6rem 0 6rem 0; } 
      #service5 {background-color:#000000; background-image: url('images/mway-head-unit-integration.jpg'); background-repeat:no-repeat; } 
      #blockStyle1783SectionServicesContent95 {background-image: url('images/m-way-solutions-automotive-fader.png'); background-repeat:no-repeat; } 
      #blockStyle1786SectionProductsContent97 {background-repeat:no-repeat; } 
      #blockStyle1791SectionServicesNarrowerContent99 {background-repeat:no-repeat; padding:5rem 0 5rem 0; } 
      #blockStyle1792SectionSolutionsContent100 {background-repeat:no-repeat; padding:6rem 0 6rem 0; } 
      #blockStyle1840SectionProductsContent101 {background-repeat:no-repeat; padding:2rem 0 2rem 0; } 
      #blockStyle1845SectionServicesNarrowerContent79 {background-repeat:no-repeat; padding:6rem 0 6rem 0; } 
      #blockStyle1846SectionProductsContent83 {background-repeat:no-repeat; padding:6rem 0 6rem 0; } 
      #blockStyle1847SectionSolutionsContent105 {background-repeat:no-repeat; } 
      #service1 {background-color:#000000; background-image: url('images/mway-module-integration.jpg'); background-repeat:no-repeat; } 
      #service2 {background-color:#000000; background-image: url('images/mway-service-provision.jpg'); background-repeat:no-repeat; } 
      #service3 {background-color:#000000; background-image: url('images/mway-proxy-services.jpg'); background-repeat:no-repeat; } 
      #service4 {background-color:#000000; background-image: url('images/mway-application-development.jpg'); background-repeat:no-repeat; } 
      #animateFooter {background-repeat:no-repeat; } 
      #blockStyle1900SectionProductsContent104 {background-repeat:no-repeat; padding:2rem 0 2rem 0; } 
      #automotiveSlider {background-repeat:no-repeat; } 
      #blockStyle1905SectionProductsContent102 {background-repeat:no-repeat; padding:2rem 0 2rem 0; } 
      #blockStyle1912SectionProductsContent103 {background-repeat:no-repeat; padding:2rem 0 2rem 0; } 
      
      /*
      * Loading Dots
      * Can we use pseudo elements here instead :after?
      */
      .loading span {
      display: inline-block;
      vertical-align: middle;
      width: .6em;
      height: .6em;
      margin: .19em;
      background: #007DB6;
      border-radius: .6em;
      animation: loading 1s infinite alternate;
      }
      
      /*
      * Dots Colors
      * Smarter targeting vs nth-of-type?
      */
      .loading span:nth-of-type(2) {
      background: #008FB2;
      animation-delay: 0.2s;
      }
      .loading span:nth-of-type(3) {
      background: #009B9E;
      animation-delay: 0.4s;
      }
      .loading span:nth-of-type(4) {
      background: #00A77D;
      animation-delay: 0.6s;
      }
      .loading span:nth-of-type(5) {
      background: #00B247;
      animation-delay: 0.8s;
      }
      .loading span:nth-of-type(6) {
      background: #5AB027;
      animation-delay: 1.0s;
      }
      .loading span:nth-of-type(7) {
      background: #A0B61E;
      animation-delay: 1.2s;
      }
      
      /*
      * Animation keyframes
      * Use transition opacity instead of keyframes?
      */
      @keyframes loading {
      0% {
      opacity: 0;
      }
      100% {
      opacity: 1;
      }
      }
      
      .loading{
      position: fixed;
      z-index: 999999;
      background: #000;
      top: 0; right: 0; bottom: 0; left: 0;
      visibility: visible;
      opacity: 1;
      transform: translateZ(0); /* force GPU rendering */
      transition: opacity 3.6s ease-in-out, visibility 3.6s ease-in-out;
      -webkit-transition: opacity 3.6s ease-in-out, visibility 3.6s ease-in-out;
      -moz-transition: opacity 3.6s ease-in-out, visibility 3.6s ease-in-out;
      }
      .loading .hidden{
      visibility: hidden;
      opacity: 0;
      }
      .loading .logo{
      background: url('images/nseye-02.svg') no-repeat;
      background-size: contain;
      width: 200px;
      height:200px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      }
      
      .spinner {
      display: inline-block;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      margin-top: 70px;
      }
      
      .spinner > div {
      width: 4px;
      height: 4px;
      background-color: #fff;
      opacity: 0.35;
      margin: 0 4px;
      
      border-radius: 100%;
      display: inline-block;
      -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
      animation: bouncedelay 1.4s infinite ease-in-out;
      /* Prevent first frame from flickering when animation starts */
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      }
      
      .spinner .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
      }
      
      .spinner .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
      }
      
      @-webkit-keyframes bouncedelay {
      0%, 80%, 100% { opacity: 0.35 }
      40% { opacity: 1 }
      }
      
      @keyframes bouncedelay {
      0%, 80%, 100% {
      opacity: 0.35;
      } 40% {
      opacity: 1;
      }
      }
    </style>
    <link rel="stylesheet" type="text/css" href="css/view.css" />
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    <link href='/themes/automotive/prod/vendor.css' rel='stylesheet' type='text/css'>
    <link href='/themes/automotive/prod/main.css' rel='stylesheet' type='text/css'>
 
  <%= csrf_meta_tags %>
</head>
  <body class="en  page-371">

    <!-- <div class="preloaderContainer">
	 <div class="logo"></div>
	 <div class="spinner">
	   <div class="bounce1"></div>
	   <div class="bounce2"></div>
	   <div class="bounce3"></div>
	   <div class="bounce4"></div>
	 </div>
    </div> -->
    <div class="loading preloaderContainer">
      <div class="logo"></div>
      <div class="spinner">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
      </div>
    </div>
    <header>
      <div class="row">
	<div class="small-12 columns">
	  <div class="mobile-menu-icon">
	    <div></div>
	    <div></div>
	    <div></div>
	  </div>
	  
	  <div class="mobile-menu">
	    <ul>
	      <li><a href="#home">Overview</a></li>
	      <li><a href="#products">Products</a></li>
	      <li><a href="#solutions">Solutions</a></li>
	      <li><a href="http://blog.nseye.org/" target="_blank">Blog</a></li>
	      <li><a href="#contact" target="_blank">Contact</a></li>
	    </ul>            
	  </div>
	</div>
      </div>
    </header>

<%= yield %>

<script async>
  (function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='548a6d8023374b275b2d1f7be88851a51cbb4f2530d9a616a9a9674b2d766571';
  v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');
</script>
 <div class="small-12">
		<p><b>Copyright</b></p>
		<p>The publications on these pages are subject to South Africa copyright. Duplication, modification or any kind of use outside the scope allowed by copyright law require the express written permission of NSeye Corp. </p><br>
		<p><b>Content liability</b></p>
		<p>The information on this website is for general and informative purposes. The content of these pages is created with the greatest possible care. We cannot assume liability for the completeness and topicality of any information contained herein.</p><br>
		<p><b>Liability for links</b></p>
		<p>External links included on this website lead to third-party content for which the respective third party alone is responsible.</p><br>
		<p><b>Google Analytics</b></p>
		<p>This website uses Google Analytics, a web analytics service provided by Google, Inc. ("Google"). Google Analytics uses "cookies", which are text files placed on your computer, to help the website analyze how users use the site. The information generated by the cookie about your use of the website (including your IP address) will be transmitted to and stored by Google on servers in the United States . Google will use this information for the purpose of evaluating your use of the website, compiling reports on website activity for website operators and providing other services relating to website activity and internet usage. Google may also transfer this information to third parties where required to do so by law, or where such third parties process the information on Google's behalf. Google will not associate your IP address with any other data held by Google. You may refuse the use of cookies by selecting the appropriate settings on your browser, however please note that if you do this you may not be able to use the full functionality of this website. By using this website, you consent to the processing of data about you by Google in the manner and for the purposes set out above.</p>
		
		
	      </div>
	      <a class="close-reveal-modal">&#215;</a>
	  </div></div>
	  <div id="HTMLBlock1817" class="HTMLBlock">
	    <div id="modalPrivacy" class="reveal-modal" data-reveal>
	      <h2>NSeye Corp</h2>
	      <p><b>Privacy Policy</b></p>
	      <p>Use of our website is usually possible without providing personal information. For our part, when personal data (such as name, address or email address) are collected, this is, as far as possible, on a voluntary basis. This data will not be shared with third parties without your express consent. You can always contact us in order to access or delete your data. We point out that data transmission over the Internet (for example, when communicating by email) may have security gaps. Complete protection of data against access by third parties is not possible. Data collection, processing and storage can be revoked at any time, with future effects.&nbsp;</p>

	      
	      <a class="close-reveal-modal">&#215;</a>
	</div></div>    </div>
      </div>
    </section><script type="text/javascript">
      //google analytics code here
    </script><script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="/themes/automotive/prod/vendor.min.js"></script>
    <script src="/themes/automotive/prod/main.min.js"></script>
  </body>
</html>


