<!DOCTYPE html>
<html>
<head>
  <title>Nseye</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script async>
  (function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='548a6d8023374b275b2d1f7be88851a51cbb4f2530d9a616a9a9674b2d766571';
  v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');
</script>
</body>
</html>
