<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>NSeye Corp</title>
    <meta name="description" content="all in one technology solutions to make your life easier and your bussiness run itself"/>
    
   <style type="text/css"> 
      #blockStyle1765SectionHomeContent80 {background-repeat:no-repeat; padding:6rem 0 6rem 0; } 
      #service5 {background-color:#000000; background-image: url('/images/mway-head-unit-integration.jpg'); background-repeat:no-repeat; } 
      #blockStyle1783SectionServicesContent95 {background-image: url('/images/m-way-solutions-automotive-fader.png'); background-repeat:no-repeat; } 
      #blockStyle1786SectionProductsContent97 {background-repeat:no-repeat; } 
      #blockStyle1791SectionServicesNarrowerContent99 {background-repeat:no-repeat; padding:5rem 0 5rem 0; } 
      #blockStyle1792SectionSolutionsContent100 {background-repeat:no-repeat; padding:6rem 0 6rem 0; } 
      #blockStyle1840SectionProductsContent101 {background-repeat:no-repeat; padding:2rem 0 2rem 0; } 
      #blockStyle1845SectionServicesNarrowerContent79 {background-repeat:no-repeat; padding:6rem 0 6rem 0; } 
      #blockStyle1846SectionProductsContent83 {background-repeat:no-repeat; padding:6rem 0 6rem 0; } 
      #blockStyle1847SectionSolutionsContent105 {background-repeat:no-repeat; } 
      #service1 {background-color:#000000; background-image: url('/images/mway-module-integration.jpg'); background-repeat:no-repeat; } 
      #service2 {background-color:#000000; background-image: url('/images/mway-service-provision.jpg'); background-repeat:no-repeat; } 
      #service3 {background-color:#000000; background-image: url('/images/mway-proxy-services.jpg'); background-repeat:no-repeat; } 
      #service4 {background-color:#000000; background-image: url('/images/mway-application-development.jpg'); background-repeat:no-repeat; } 
      #animateFooter {background-repeat:no-repeat; } 
      #blockStyle1900SectionProductsContent104 {background-repeat:no-repeat; padding:2rem 0 2rem 0; } 
      #automotiveSlider {background-repeat:no-repeat; } 
      #blockStyle1905SectionProductsContent102 {background-repeat:no-repeat; padding:2rem 0 2rem 0; } 
      #blockStyle1912SectionProductsContent103 {background-repeat:no-repeat; padding:2rem 0 2rem 0; } 
      
      /*
      * Loading Dots
      * Can we use pseudo elements here instead :after?
      */
      .loading span {
      display: inline-block;
      vertical-align: middle;
      width: .6em;
      height: .6em;
      margin: .19em;
      background: #007DB6;
      border-radius: .6em;
      animation: loading 1s infinite alternate;
      }
      
      /*
      * Dots Colors
      * Smarter targeting vs nth-of-type?
      */
      .loading span:nth-of-type(2) {
      background: #008FB2;
      animation-delay: 0.2s;
      }
      .loading span:nth-of-type(3) {
      background: #009B9E;
      animation-delay: 0.4s;
      }
      .loading span:nth-of-type(4) {
      background: #00A77D;
      animation-delay: 0.6s;
      }
      .loading span:nth-of-type(5) {
      background: #00B247;
      animation-delay: 0.8s;
      }
      .loading span:nth-of-type(6) {
      background: #5AB027;
      animation-delay: 1.0s;
      }
      .loading span:nth-of-type(7) {
      background: #A0B61E;
      animation-delay: 1.2s;
      }
      
      /*
      * Animation keyframes
      * Use transition opacity instead of keyframes?
      */
      @keyframes loading {
      0% {
      opacity: 0;
      }
      100% {
      opacity: 1;
      }
      }
      
      .loading{
      position: fixed;
      z-index: 999999;
      background: #000;
      top: 0; right: 0; bottom: 0; left: 0;
      visibility: visible;
      opacity: 1;
      transform: translateZ(0); /* force GPU rendering */
      transition: opacity 3.6s ease-in-out, visibility 3.6s ease-in-out;
      -webkit-transition: opacity 3.6s ease-in-out, visibility 3.6s ease-in-out;
      -moz-transition: opacity 3.6s ease-in-out, visibility 3.6s ease-in-out;
      }
      .loading .hidden{
      visibility: hidden;
      opacity: 0;
      }
      .loading .logo{
      background: url('/images/nseye-02.svg') no-repeat;
      background-size: contain;
      width: 200px;
      height:200px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      }
      
      .spinner {
      display: inline-block;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      margin-top: 70px;
      }
      
      .spinner > div {
      width: 4px;
      height: 4px;
      background-color: #fff;
      opacity: 0.35;
      margin: 0 4px;
      
      border-radius: 100%;
      display: inline-block;
      -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
      animation: bouncedelay 1.4s infinite ease-in-out;
      /* Prevent first frame from flickering when animation starts */
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      }
      
      .spinner .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
      }
      
      .spinner .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
      }
      
      @-webkit-keyframes bouncedelay {
      0%, 80%, 100% { opacity: 0.35 }
      40% { opacity: 1 }
      }
      
      @keyframes bouncedelay {
      0%, 80%, 100% {
      opacity: 0.35;
      } 40% {
      opacity: 1;
      }
      }
    </style>
    <link rel="stylesheet" type="text/css" href="css/view.css" />
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    <link href='/themes/automotive/prod/vendor.css' rel='stylesheet' type='text/css'>
    <link href='/themes/automotive/prod/main.css' rel='stylesheet' type='text/css'>
 
  <%= csrf_meta_tags %>
</head>
  <body class="en  page-371">

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="361311664282154"
  theme_color="#168fef"
  logged_in_greeting="NSeye-Corp, Making Africa a technology driven world class society."
  logged_out_greeting="NSeye-Corp, Making Africa a technology driven world class society.">
</div>

    <div class="loading preloaderContainer">
      <div class="logo"></div>
      <div class="spinner">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
      </div>
    </div>
    <header>
      <div class="row">
	<div class="small-12 columns">
	  <div class="mobile-menu-icon">
	    <div></div>
	    <div></div>
	    <div></div>
	  </div>
	  
	  <div class="mobile-menu">
	    <ul>
	      <li><a href="/index">Overview</a></li>
	       <li><a href="/about">About NSeye Corp</a></li>
	      <li><a href="#/pillars">NSeye Pillars</a></li>
	      <li><a href="#solutions">Solutions</a></li>
	      <li><a href="http://blog.nseye.org/" target="_blank">Blog</a></li>
	      <li><a href="/contact" >Contact Us</a></li>
	    </ul>            
	  </div>
	</div>
      </div>
    </header>

<%= yield %>
      <div id="animateFooter" class=" ccm-block-styles" >
	
	
	<div class="row">
	  <div class="small-12 medium-6 columns">
	    <div class="small-6 columns">
	      <p><span class="font-white">South Africa</span><br />Castle of Good Hope<br />Darling St & Buitenkant St, <br />Foreshore, <br />Cape Town, 8001</p>
	      <p><span class="font-white">Zimbabwe</span><br />Dolphin house,<br />Corner Leopold Takawira/Nkwame Nkruma, <br />7th Floor, South Wing <br />Harare</p>
	    </div>  
	  </div>
	  <div class="small-12 medium-6 columns">
	    <div class="small-12 columns">
	      <p><span><strong>Project & Product Manager</strong></span><br/><span class="font-white">Pride S. Murire</span><br /><a href="mailto:shingi@nseye.org">shingi@nseye.org</a><br />+27 (0)83 542 4197</p>
	      <p><span class="font-white">Finance & Banking</span><br /> <span class="font-white">Mr Manciya,&nbsp</span><br /><a href="mailto:sales@nseye.org">manciya@nseye.org</a></p>
	      <p><span class="font-white">New business ideas & strategic partnerships:</span><br /><a href="mailto:sales@nseye.org">business@nseye.org</a></p>
	      <p><span class="font-white">For investments in NSeye Corp Connected Services:</span><br /><a href="mailto:business@nseye.org">business@nseye.org</a></p>
	      <p><br /><span class="font-white">We aim to offer the best possible service. <br />Suggestions and comments are very important to us.</span></p>
	      <p><span class="font-white">Service-Hotline:+27 (0)83 542 4197</span> <br /><span class="font-white">Email:</span> <a href="mailto:info@nseye.org">info@nseye.org</a><br /><span class="font-white">Press: </span><a href="mailto: press@nseye.org">press@nseye.org</a></p>
	      <p> </p>
	      <p> </p>
	    </div> 
	  </div>
	</div>
      </div>
      <div id="blockStyle1847SectionSolutionsContent105" class="footer ccm-block-styles" >
	<ul>
	  <li><a href="#" data-reveal-id="modalPrivacy">Privacy Policy</a></li>
	  <li><a href="#" data-reveal-id="modalImprint">Imprint</a></li>
	  <li><a href="/about">About us</a></li>
	  <li><a href="mailto:info@sneye.org" target="_blank">info@nseye.org</a></li>
      </ul>
      </div>
      <div id="HTMLBlock1889" class="HTMLBlock">
	<div id="modalImprint" class="reveal-modal" data-reveal>
	  <h2>NSeye Corp</h2>
	  <div class="row">
	    <div class="small-12 medium-6 columns">
	      <p><b>Shingi. P. Murire,&nbsp;</b><span>Project & Product Manager</span></p>
	      <p><b>Mr Manciya,&nbsp;</b><span>Finance & Banking</span></p>
	      <p><b>Nigel. T. Jena,&nbsp;</b><span>Development & Technical Support</span></p>
	      <p>Castle of Good Hope</p>
	      <p>>Darling St & Buitenkant St, </p>
	      <p>Cape Town, 8001</p>
	      <p>South Africa</p>
	    </div>
	    
	    
	    <div class="small-12 medium-6 columns">
	      <p>T: +27 (0)78 248 6214</p>
	      <p>T: +27 (0)83 542 4197</p><br>
	      <p>E:&nbsp;<a href="mailto:info@nseye.org">info@nseye.org</a></p>
	      <p>W:&nbsp;<a href="http://www.nseye.org">www.nseye.org</a></p><br>
	      <!--<p><b>Court of registration</b></p>
		  <p>Stuttgart HRB 25158</p>
	      <p>UST-ID: DE240271880</p> -->
	    </div>
	  </div>
<script async>
  (function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='548a6d8023374b275b2d1f7be88851a51cbb4f2530d9a616a9a9674b2d766571';
  v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');
</script>
 <div class="small-12">
		<p><b>Copyright</b></p>
		<p>The publications on these pages are subject to South Africa copyright. Duplication, modification or any kind of use outside the scope allowed by copyright law require the express written permission of NSeye Corp. </p><br>
		<p><b>Content liability</b></p>
		<p>The information on this website is for general and informative purposes. The content of these pages is created with the greatest possible care. We cannot assume liability for the completeness and topicality of any information contained herein.</p><br>
		<p><b>Liability for links</b></p>
		<p>External links included on this website lead to third-party content for which the respective third party alone is responsible.</p><br>
		<p><b>Google Analytics</b></p>
		<p>This website uses Google Analytics, a web analytics service provided by Google, Inc. ("Google"). Google Analytics uses "cookies", which are text files placed on your computer, to help the website analyze how users use the site. The information generated by the cookie about your use of the website (including your IP address) will be transmitted to and stored by Google on servers in the United States . Google will use this information for the purpose of evaluating your use of the website, compiling reports on website activity for website operators and providing other services relating to website activity and internet usage. Google may also transfer this information to third parties where required to do so by law, or where such third parties process the information on Google's behalf. Google will not associate your IP address with any other data held by Google. You may refuse the use of cookies by selecting the appropriate settings on your browser, however please note that if you do this you may not be able to use the full functionality of this website. By using this website, you consent to the processing of data about you by Google in the manner and for the purposes set out above.</p>
		
		
	      </div>
	      <a class="close-reveal-modal">&#215;</a>
	  </div></div>
	  <div id="HTMLBlock1817" class="HTMLBlock">
	    <div id="modalPrivacy" class="reveal-modal" data-reveal>
	      <h2>NSeye Corp</h2>
	      <p><b>Privacy Policy</b></p>
	      <p>Use of our website is usually possible without providing personal information. For our part, when personal data (such as name, address or email address) are collected, this is, as far as possible, on a voluntary basis. This data will not be shared with third parties without your express consent. You can always contact us in order to access or delete your data. We point out that data transmission over the Internet (for example, when communicating by email) may have security gaps. Complete protection of data against access by third parties is not possible. Data collection, processing and storage can be revoked at any time, with future effects.&nbsp;</p>

	      
	      <a class="close-reveal-modal">&#215;</a>
	</div></div>    </div>
      </div>
    </section>
	     <div class="floating-chat">
    <i class="fa fa-comments" aria-hidden="true"></i>
    <div class="chat">
        <div class="header">
            <span class="title">
                what's on your mind?
            </span>
            <button>
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
                         
        </div>
        <ul class="messages">
            <li class="other">asdasdasasdasdasasdasdasasdasdasasdasdasasdasdasasdasdas</li>
            <li class="other">Are we dogs??? 🐶</li>
            <li class="self">no... we're human</li>
            <li class="other">are you sure???</li>
            <li class="self">yes.... -___-</li>
            <li class="other">if we're not dogs.... we might be monkeys 🐵</li>
            <li class="self">i hate you</li>
            <li class="other">don't be so negative! here's a banana 🍌</li>
            <li class="self">......... -___-</li>
        </ul>
        <div class="footer">
            <div class="text-box" contenteditable="true" disabled="true"></div>
            <button id="sendMessage">send</button>
        </div>
    </div>
</div>


<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="/themes/automotive/prod/vendor.min.js"></script>
    <script src="/themes/automotive/prod/main.min.js"></script>


  </body>
</html>


